extends layout

block content

  h1 Award: #{award.name}

  div(style='margin-left:20px;margin-top:20px')

    h2(style='font-size: 1.5rem;') Games
    if award_games.length
      dl
        each game in award_games
          dt
            a(href=game.url) #{game.title}
            span  (#{game.year_formatted})
    else
      p This award has no games.

  hr
  p
    a(href=award.url + "/delete")
        button.delete-button Delete
  p
    a(href=award.url + "/update")
        button.update-button Update