extends layout

block content
    h1 Developer Name: #{name}

    p #[strong Founded: ] #{developer.founded_formatted}
    p #[strong Founder: ] #{developer.founder}
    p #[strong Headquarters: ] #{developer.headquarters}

    div(style='margin-left:20px;margin-top:20px')
         h2(style='font-size: 1.5rem;') Games
    each val in games
        hr
        ul
            li
                p
                    a(href=val.url) #{val.title}
                    span  (#{val.year_formatted})
    hr
    p
        a(href=developer.url + "/delete")
            button.delete-button Delete
    p
        a(href=developer.url + "/update")
            button.update-button Update
