extends layout

block content
    h1 Game Name: #{title}

    p #[strong Developer: ]
        a(href=game.developer.url) #{game.developer.name}
    p #[strong Released:] #{game.year_formatted}
    p #[strong Summary:] #{game.summary}
    p #[strong Genre: ]
        each val, index in game.genre
            a(href=val.url) #{val.name}
            if index < game.genre.length - 1
                |,&nbsp;
    p #[strong Awards: ]
        each val, index in game.awards
            a(href=val.url) #{val.name}
            if index < game.genre.length - 1
                |,&nbsp;
    p #[strong Platform: ]
        each val, index in game.platform
            span #{val}
            if index < game.genre.length - 1
                |,&nbsp;

        div(style='margin-left:20px;margin-top:20px')
            h2(style='font-size: 1.5rem;') Copies

            each val in gameinstances
                hr
                if val.status=='Available'
                    p.text-success #{val.status}
                else if val.status=='Maintenance'
                    p.text-danger #{val.status}
                else
                    p.text-warning #{val.status}
                if val.status!='Available'
                    p #[strong Due back:] #{val.due_back}
                p #[strong Id: ]
                    a(href=val.url) #{val._id}

            else
                p There are no copies of this game in the collection.
    hr
    p
        a(href=game.url + "/delete")
            button.delete-button Delete
    p
        a(href=game.url + "/update")
            button.update-button Update